In [ ]:
# Process

# 1. build Model
# 2. data cleaning
# 3. dimensionality reduction
# 4. feature engineering
# 5. model building
# 6. outlier detection
# 7. python flask server
# 8. website

In [ ]:
#58, video-1<https://www.youtube.com/watch?v=_drqJ9SFCgU&list=PLeo1K3hjS3us_ELKYSj_Fth2tIEkdKXvV&index=58&ab_channel=codebasics>
import pandas as pd; import numpy as np
import warnings; warnings.simplefilter("ignore")
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize']=(20,10)

In [ ]:
df1 = pd.read_csv('bengaluru_house_prices.csv')
df1.head()

In [ ]:
df1.shape

In [ ]:
df1.groupby('area_type')['area_type'].agg('count')

In [ ]:
df2 = df1.drop(['area_type','society','balcony','availability'],axis=1)
df2.head()

In [ ]:
df2.isnull().sum()

In [ ]:
df3 = df2.dropna()
df3.isnull().sum()

In [ ]:
df3.shape

In [ ]:
df3['size'].unique()

In [ ]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

In [ ]:
df3.head()

In [ ]:
df3['bhk'].unique()

In [ ]:
df3[df3.bhk>20]

In [ ]:
df3.total_sqft.unique()

In [ ]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [ ]:
df3[~df3['total_sqft'].apply(is_float)].head(10)

In [ ]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [ ]:
#check if function works
print(convert_sqft_to_num('2166'))
print(convert_sqft_to_num('2100 - 2850'))

In [ ]:
convert_sqft_to_num('34.465Sq. Meter')

In [ ]:
df4 = df3.copy()
df4['total_sqft'] = df4['total_sqft'].apply(convert_sqft_to_num)
df4.head(3)

In [ ]:
df4.loc[30]

In [ ]:
(2100+2850)/2

In [ ]:
#59, video-2 Feature Engineering
#https://www.youtube.com/watch?v=gMoJIH0prL4&list=PLeo1K3hjS3us_ELKYSj_Fth2tIEkdKXvV&index=60&ab_channel=codebasics

In [ ]:
df4.head(3)

In [ ]:
df5 = df4.copy()
df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']
df5.head()

In [ ]:
#let's check how many unique locations are there
len(df5.location.unique())
#too many locations->1304, means dimensionality problem

In [ ]:
df5.location = df5.location.apply(lambda x: x.strip())
location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

In [ ]:
#let's say any locations having less than or equal to 10 data points, other
len(location_stats[location_stats<=10])

In [ ]:
location_stats_less_than_10 = location_stats[location_stats<=10]
location_stats_less_than_10

In [ ]:
len(df5.location.unique())

In [ ]:
df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_less_than_10 else x)
len(df5.location.unique())

In [ ]:
df5.head(10)

In [ ]:
#60, video-3 Outlier detection n removal

In [ ]:
# better to remove outliers for further processing

In [ ]:
#less find a threshold for sqft area per bedroom

In [ ]:
#let's assume 300 is the threshold value for bedroom
df5[df5.total_sqft/df5.bhk<300].head()

In [ ]:
df5.shape

In [ ]:
df6 = df5[~(df5.total_sqft/df5.bhk<300)]
df6.shape

In [ ]:
#check oulier in price
df6.price_per_sqft.describe()

In [ ]:
#please study the statistics above (describe)

In [ ]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    #group data points by 'location'
    for key, subdf in df.groupby('location'):
        #compute mean from the price_per_sqft
        m = np.mean(subdf.price_per_sqft)
        #compute standard deviation
        st = np.std(subdf.price_per_sqft)
        #filter all data points that are not within one standard deviation (+ or -)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df7 = remove_pps_outliers(df6) #filtered out df
df7.shape

In [ ]:
#visualization
def plot_scatter_chart(df,location):
    bhk2 = df[(df.location==location) & (df.bhk==2)]
    bhk3 = df[(df.location==location) & (df.bhk==3)]
    matplotlib.rcParams['figure.figsize']=(15,10)
    plt.scatter(bhk2.total_sqft,bhk2.price,color='blue',label='2 BHK',s=50)
    plt.scatter(bhk3.total_sqft,bhk3.price,marker='+', color='g',label='3 BHK',s=50)
    plt.xlabel("Total Square Feet Area")
    plt.ylabel("Price")
    plt.title(location)
    plt.legend()
    
plot_scatter_chart(df7,"Rajaji Nagar")

In [ ]:
plot_scatter_chart(df7,"Hebbal")

In [ ]:
# We should also remove properties
#where for same location, the price 
#of (for example) 3 bedroom apartment 
#is less than that of 2 bedroom apartment 
#(with same square feet area). 
#What we will do is for a given location,
#we will build a dictionary of stats per bhk,
#i.e.
{
    '1': {
        'mean': 4000,
        'std': 2000,
        'count': 34
    },
    '2': {
        'mean': 4300,
        'std': 2300,
        'count': 22
    }
}

#Now we can remove those 2 BHK apartments 
#whose price_per_sqft is less than mean 
#price_per_sqft of 1 BHK apartment

In [ ]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df8 = remove_bhk_outliers(df7)
df8.shape

In [ ]:
plot_scatter_chart(df7,"Hebbal")

In [ ]:
#Histogram

In [ ]:
matplotlib.rcParams["figure.figsize"]=(20,10)
plt.hist(df8.price_per_sqft,rwidth=0.8)
plt.xlabel("Price Per Square Feet")
plt.ylabel("Count")

In [ ]:
df8.bath.unique()

In [ ]:
df8[df8.bath>10]

In [ ]:
plt.hist(df8.bath,rwidth=0.8)
plt.xlabel("Number of bathrooms")
plt.ylabel("Count")

In [ ]:
#remove outliers data with num of baths 
#greater that num of bedrooms plus 2
df8[df8.bath>df8.bhk+2]

In [ ]:
df9 = df8[df8.bath<df8.bhk+2]
df9.shape

In [ ]:
df10 = df9.drop(['size','price_per_sqft'],axis=1)

In [ ]:
df10.head()

In [ ]:
#61 video-4 Machine Learning Algorithm, kfold
#tac col to use one hot encoder
dummies = pd.get_dummies(df10.location)
dummies.head()

In [ ]:
df11 = pd.concat([df10,dummies.drop('other',axis=1)],axis=1)
df11.head(3)

In [ ]:
df12 = df11.drop('location',axis=1)
df12.head(3)

In [ ]:
df12.shape

In [ ]:
X = df12.drop('price',axis=1)
X.head()

In [ ]:
y = df12.price
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [ ]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

In [ ]:
#kfold cv
from sklearn.model_selection import ShuffleSplit, cross_val_score
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
cross_val_score(LinearRegression(),X,y,cv=cv)

In [ ]:
#GridSearchCV {Hyperparameter Tuning}
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression': {
            'model': LinearRegression(),
            'params': {
                'fit_intercept': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(), 
            'params': {
                'alpha':[1, 2],
                'selection': ['random', 'cyclic']
            }
        },
        'decsion_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion': ['mse', 'friedman_mse'], 
                'splitter': ['best', 'random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })
    return pd.DataFrame(scores, columns=['model', 'best_score', 'best_params'])

find_best_model_using_gridsearchcv(X,y)

In [ ]:
#LinearRegression() is the best
def predict_price(location,sqft,bath,bhk):
    loc_index = np.where(X.columns==location)[0][0]
    
    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1
        
    return lr_clf.predict([x])[0]

predict_price('1st Phase JP Nagar',1000,2,2)

In [ ]:
predict_price('1st Phase JP Nagar',1000,3,3)

In [ ]:
predict_price('Indira Nagar',1000,2,2)

In [ ]:
predict_price('Indira Nagar',1000,3,3)

In [ ]:
predict_price('1st Phase JP Nagar',1000,2,3)

In [ ]:
import pickle
with open('bangalore_home_prices_model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [ ]:
import json
columns = {
    'data_columns': [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))

In [ ]:
#62 video-5